<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L1 Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   


    <form action="#" th:action="@{/submitMessage}" th:object="${message}" method="put">

        <h1>User Messages</h1>

        <p th:text="'User: ' + ${user.name}" />

        <table border="1">
            <tr th:each="message: ${user.messageList}">
                <td th:text="${message.text}" />
            </tr>
        </table>

        
    </form>
    
</body>
</html>